.row
  .small-10.medium-8.small-centered.columns
    %h2.center Sending Money
    .small-12.medium-10.small-centered.columns
      %hr
      %p PostCoin parses subject lines for amount information and understands amounts in the following formats:
      .row
        .small-5.medium-4.columns
          %p.black Millibitcoin
        .small-7.medium-8.columns
          %p 200 mBTC | mBTC 200
      .row
        .small-5.medium-4.columns
          %p.black Bitcoin
        .small-7.medium-8.columns
          %p 200 BTC | BTC 200 | 200 bitcoin | ฿200 | ฿ 200
      .row
        .small-5.medium-4.columns
          %p.black Dollar
        .small-7.medium-8.columns
          %p 200 USD | $200 | $ 200 | 200 dollar | 200 dollars
