$background-grey: #f2f2f2;
$highlighted-grey: #e6e6e6;
$text-grey: #c9c9c9;

/* Universal settings */

html, body {
  width: 100%;
  height: 100%;
  background-color: #FCFAF8;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #444;
}

h1 {
  font-size: rem-calc(62);
}

p {
  font-family: 'Libre Baskerville', serif;
  color: $text-grey;
}

.hidden { display: none; }

.center {
  text-align: center;
}

.right {
  float: right;
}

.black {
  color: #444;
}

#error_explanation h2{ font-size: rem-calc(16); }

/* Nav bar */

nav {
  background-color: $background-grey;
  margin-bottom: 1em;
  vertical-align: middle;

  ul {
    text-decoration: none;
    margin-bottom: 0;

    li {
      display: inline-block;
      vertical-align: middle;
      margin-right: 0.9em;
      font-family: 'Libre Baskerville', serif;
    }

    path {
      fill: $text-grey;
    }
  }
}

/* Landing page */

#title {
  margin-top: 1.5em;
}

#subtitle {
  margin-bottom: 6em;
}

#section2 {
  padding-top: 1em;
  padding-bottom: 2em;
}

#section3 {
  margin-top: 3em;

  h2 {
    margin-bottom: 1em;
  }
}

.footer {
  margin-top: 3em;
  margin-bottom: 2em;
}

/* Account page */

.email {
  p {
    margin-bottom: 0;
    padding: 1em;
  }

  &:nth-child(even) {
    background-color: $background-grey;
  }
}
